* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: none !important;
}

$primary_color : #4A3AFF;
$heading_black : #0D0A2C;
$text_grey : #585667;
$color_1000 : #5F5C7F;
$color_900 : #7F7CA2;
$color_100 : #d1d0dc;
$red_100 : #FFF0F1;
$red_400 : #FF002F;
$purple_100 : #F8F1FF;
$purple_200 : #F0E3FF;
$blue_100 : #F3F6FF;
$blue_200 : #C6D2FD;
$green_100 : #EEFEF0;
$green_200 : #BCEFBD;
$yellow_100 : #FFFDEC;
$yellow_200 : #FFFCDD;

//=============================

@mixin btn-blue($wdt, $hgt, $crl) {
    width: $wdt;
    height: $hgt;
    position: relative;

    .button-1 {
        width: 100%;
        height: 100%;
        background-color: $primary_color;
        color: $crl;
        border-radius: 10px;
        transition: all 0.5s;
        font-size: 12px;

        &:hover {
            background-color: transparent;
        }

        &:hover+.btn-overlay .child-box-overlay .btn-overlay-box-1,
        &:hover+.btn-overlay .child-box-overlay .btn-overlay-box-2 {
            height: 100%;
            width: 50%;
        }
    }

    .btn-overlay {
        top: 0;
        position: absolute;
        z-index: -3;
        width: 100%;
        height: 100%;

        .child-box-overlay {
            width: 100%;
            height: 100%;
            display: flex;
            position: relative;
            z-index: -2;
            overflow: hidden;
            justify-content: center;
            align-items: center;

            .btn-overlay-box-1 {
                position: absolute;
                right: 50%;
                z-index: -1;
                transition: all 0.3s;
                background-color: $text_grey;
                width: 0;
                height: 0;
                border-radius: 10px 0px 0px 10px;
            }

            .btn-overlay-box-2 {
                position: absolute;
                left: 50%;
                z-index: 3;
                transition: all 0.3s;
                background-color: $text_grey;
                width: 0;
                height: 0;
                border-radius: 0px 10px 10px 0px;
            }
        }
    }
}

@mixin btn-white($wdt, $hgt, $crl) {
    width: $wdt;
    height: $hgt;
    position: relative;

    .button-1 {
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: $crl;
        border-radius: 10px;
        transition: all 0.5s;
        border: 1px solid $crl;

        &:hover {
            background-color: transparent;
            border: none;
            color: white;
        }

        &:hover+.btn-overlay .child-box-overlay .btn-overlay-box-1,
        &:hover+.btn-overlay .child-box-overlay .btn-overlay-box-2 {
            height: 100%;
            width: 50%;
        }
    }

    .btn-overlay {
        top: 0;
        position: absolute;
        z-index: -3;
        width: 100%;
        height: 100%;

        .child-box-overlay {
            width: 100%;
            height: 100%;
            display: flex;
            position: relative;
            z-index: -2;
            overflow: hidden;
            justify-content: center;
            align-items: center;

            .btn-overlay-box-1 {
                position: absolute;
                right: 50%;
                z-index: -1;
                transition: all 0.3s;
                background-color: $primary_color;
                width: 0;
                height: 0;
                border-radius: 10px 0px 0px 10px;
            }

            .btn-overlay-box-2 {
                position: absolute;
                left: 50%;
                z-index: -1;
                transition: all 0.3s;
                background-color: $primary_color;
                width: 0;
                height: 0;
                border-radius: 0px 10px 10px 0px;
            }
        }
    }
}


//=============================

header {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: white;
    top: 0;
}

nav {
    // border: 1px solid blue;
    box-shadow: 10px 1px 10px $text_grey !important;
    padding: 0 !important;
    position: sticky;

    #nav_child {
        display: flex !important;
        justify-content: space-between !important;

        .navbar-toggler {
            margin: 0px 5px;
            font-size: 25px;

            &:focus {
                outline: none;
                outline: 1px solid $text_grey;
            }
        }

        .logo_img {
            width: 85px;
            height: 85px;
            padding: 0 !important;

            img {
                border-radius: 50% !important;
            }
        }

        #navbarSupportedContent {
            width: fit-content;
            place-content: flex-end;
            gap: 10px;

            ul {
                gap: 20px;

                li a {
                    color: $text_grey !important;
                    font-size: 1.1rem;
                    border-bottom: 4px solid transparent;
                    transition: all 0.5s;

                    &:hover {
                        border-bottom: 4px solid $primary_color;
                    }
                }
            }


            .form-button_one {
                @include btn-white(90px, 45px, $text-grey);

                button {
                    font-size: 17px !important;
                }
            }

            .form-button_two {
                button {
                    font-size: 17px !important;
                }

                @include btn-blue(120px, 50px, white);
            }
        }

        form {
            gap: 20px;
        }
    }
}


.section_one {
    margin-top: 150px !important;
    display: flex; //----------------
    // height: 30rem;
    margin: auto;

    .one_box_first {
        // width: 60%;
        display: flex; //-----------------
        flex-direction: column;
        justify-content: center;
        gap: 17px;

        // align-items: center;
        .heading_one {
            // width: 50%;
            font-size: 55px; //-------------------
            font-weight: 900;
        }

        .heading_two {
            font-weight: 400;
        }

        .heading_three {
            // width: 50%;
            color: $primary_color;
            // font-size: 25px; //-------------------
            font-weight: 900;
        }
    }

    .one_box_second {
        // width: 40%;
        display: flex; //-----------
        justify-content: center;
        align-items: center;
    }
}

.section_two {
    background-color: $primary_color;
    display: flex; //---------------
    flex-direction: column;
    gap: 30px;

    .two_headung {
        display: flex; //-------------
        justify-content: space-between;

        .h1 {
            color: white;
            font-weight: 600;
        }

        .two_heading_button {
            transition: all 0.5s;
            @include btn-white(150px, 50px, white);
            align-self: center;

            :hover {
                background-color: grey !important;
            }
        }
    }

    .section_two_child {
        display: flex; //----------------------------
        justify-content: space-between;
        display: flex;

        .two_box_child {
            width: 100%;
            display: flex; //--------------
            justify-content: center;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            border-radius: 5px;
            margin: 15px 0px;
            padding: 35px 0px;
            position: relative;
            bottom: 0%;
            transition: all 0.5s;

            &:hover {
                bottom: 5%;
                position: relative;
                cursor: pointer;
                box-shadow: 2px 2px 15px rgb(172, 191, 255) !important;
            }

            .img {
                height: 40%;
                width: 50%;

                img {
                    border-radius: 100%;
                }
            }

            h2 {
                font-weight: 600;
                color: $text_grey;
            }
        }

        .two_box_first {
            background-color: $blue_200;
        }

        .two_box_second {
            background-color: $yellow_200;
        }

        .two_box_third {
            background-color: $green_200;
        }
    }
}

.section_three {
    margin: 50px 0px;

    .contact {
        display: flex; //-----------
        justify-content: space-between;
        align-items: center;

        .women_box {
            display: flex; //------------
            justify-content: center;
            align-items: center;

            .img {
                width: 250px;
                height: 400px;
            }
        }

        .phone_box {
            display: flex; //------------
            justify-content: center;
            align-items: center;

            .img {
                width: 200px;
                height: 300px;
            }
        }


        .info_box {
            h2 {
                font-weight: 600;
            }

            div {
                gap: 20px;

                form {
                    gap: 20px;

                    input,
                    textarea,
                    button {
                        width: 100%;
                        padding: 10px;
                        border-radius: 3px;
                        border: 1px solid grey;
                    }

                    .three_form_button {
                        @include btn-blue(100%, 50px, white);

                        button {
                            font-size: 16px !important;
                        }

                        border-radius: none;
                    }
                }
            }
        }
    }
}
